.body {
  background-color: #181818;
  background-image: url("/images/landscape.jpg") center center no-repeat;
  background-size: cover;
  opacity: 0.9;
  filter: alpha(opacity=90); /* For IE8 and earlier */
  width: auto;
  height: 100%;
}

.center {
  text-align: center;
  margin-top: 25%;
}
